:root {
  --c-dark: #191820;
  --c-light: #ececec;
  --c-white: #ffffff;
  --c-accent: #ae8bf8;
  --c-gray: #f0f0f3;
  --c-red: #c04040;
  --c-green: #2c922c;
  --c-error: var(--c-red);
  --c-success: var(--c-green);
  --overlay-opacity: 0.6;
  --c-overlay: rgba(0, 0, 0, var(--overlay-opacity));
  --border-radius: 16px;
  --border-radius-2: 32px;
  --border-radius-3: 60px;
  --border-radius-4: 4px;
  --c-dark-for-shadow: #000000;
  --box-shadow: -12px -12px 12px rgba(255, 255, 255, 0.32), 12px 12px 12px rgba(0, 0, 0, 0.32);
  --box-shadow-2: -4px -4px 12px rgba(255, 255, 255, 0.8), 4px 4px 12px var(--c-dark-for-shadow);
  --box-shadow-3: -4px -4px 12px rgba(255, 255, 255, 0.05), 4px 4px 12px var(--c-dark-for-shadow);
  --box-shadow-3-transparent: -4px -4px 12px rgba(255, 255, 255, 0), 4px 4px 12px rgba(0, 0, 0, 0);
  --box-shadow-4: -8px -8px 12px rgba(255, 255, 255, 0.8), 8px 8px 12px rgba(0, 0, 0, 0.05);
  --box-shadow-4-transparent: -8px -8px 12px rgba(255, 255, 255, 0), 8px 8px 12px rgba(0, 0, 0, 0);
  --box-shadow-5: -4px -4px 12px rgba(255, 255, 255, 0.05), 4px 4px 12px var(--c-accent);
  --box-shadow-6: -4px -4px 12px rgba(255, 255, 255, 0.05), 4px 4px 20px rgba(0, 0, 0, 0.25);
  --box-shadow-inset: inset -22px -14px 14px 2px rgba(255, 255, 255, 0.015), inset 8px 4px 20px 12px rgba(0, 0, 0, 0.8);
  --box-shadow-inset-transparent: inset -22px -14px 14px 2px rgba(255, 255, 255, 0), inset 8px 4px 20px 12px rgba(0, 0, 0, 0);
  --box-shadow-inset-2: inset -2px -2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.5);
  --box-shadow-inset-2-transparent: inset -2px -2px 4px rgba(255, 255, 255, 0), inset 2px 2px 4px rgba(0, 0, 0, 0);
  --base-transition-duration: 0.2s;
  --transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --base-font-family: "Rubik", sans-serif;
  --base-font-weight: 300;
  --base-line-height: 1.5;
  --base-font-size: 16px;
  --siteMaxWidth: 1920px;
  --siteMinWidth: 360px;
  --gridWidth: 1220px;
  --gridPadding: 15px;
  --section-padding-y: 50px;
  --inputHeight: 44px;
  --inputPaddingX: 20px;
  --focus-outline: 4px dashed var(--focus-outline-color);
  --focus-outline-color: var(--c-light);
  --layerDefault: 0;
  --layerControls: 50;
  --layerTooltip: 75;
  --layoutHeader: 80;
  --layerOverlay: 100;
  --layerOverlayControls: 150;
  --layerModal: 200;
  --layerModalControls: 250;
  --layerAdmin: 300;
  --layerAdminControls: 350;
  --layerPreloader: 10000;

  @media (max-width: 1024px) {
    --section-padding-y: 40px;
  }

  @media (max-width: 767px) {
    --section-padding-y: 30px;
  }

  @media (prefers-contrast: more) {
    --c-dark: #000000;
    --c-dark-for-shadow: var(--c-gray);
    --c-light: #ffffff;
    --c-accent: #fff000;
    --focus-outline: 4px solid var(--focus-outline-color);
  }

  @media (prefers-reduced-transparency) {
    --overlay-opacity: 0.9;
  }
}

@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src:
    url(/fonts/Rubik-Light.woff2) format("woff2"),
    url(/fonts/Rubik-Light.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src:
    url(/fonts/Rubik-Regular.woff2) format("woff2"),
    url(/fonts/Rubik-Regular.woff) format("woff");
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-touch-callout: none;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  font: var(--base-font-weight) var(--base-font-size) / var(--base-line-height) var(--base-font-family);
  height: 100% !important;
  min-height: 100vh;
  scroll-behavior: smooth;
  scroll-padding-top: var(--headerHeight);
  text-size-adjust: none;
}

@supports (-webkit-touch-callout: none) {
  html {
    min-height: -webkit-fill-available;
  }
}

html.is-light-theme-enabled {
  --box-shadow-inset-2: inset -2px -2px 4px rgba(255, 255, 255, 0.1), inset 2px 2px 4px rgba(0, 0, 0, 0.35);
  --focus-outline-color: var(--c-accent);
}

body {
  --scrollbarBgColor: var(--c-dark);
  --scrollbarThumbColor: var(--c-accent);

  background-color: var(--c-dark);
  color: var(--c-light);
  font: inherit;
  min-height: inherit;
  min-width: var(--siteMinWidth);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: var(--headerHeight);
  scroll-behavior: smooth;
}

html:not(.safari):not(.is-mobile-device) body {
  scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor);
  scrollbar-width: thin;
}

html:not(.safari):not(.is-mobile-device) body::-webkit-scrollbar {
  background-color: var(--scrollbarBgColor);
  width: 6px;
}

html:not(.safari):not(.is-mobile-device) body::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: var(--scrollbarThumbColor);
}

.is-light-theme-enabled body {
  background-color: var(--c-light);
  color: var(--c-dark);
}

body.compensate-for-scrollbar,
.with-fancybox body {
  overflow: hidden !important;
  touch-action: none;
}

template,
#svg-sprite {
  display: none !important;
}

svg {
  display: block;
  fill: currentColor;
}

a,
button,
input,
textarea,
label,
svg,
svg *,
::before,
::after,
::placeholder {
  .dom-is-ready & {
    transition: var(--base-transition-duration);
  }
}

a,
button {
  color: var(--c-light);
  display: inline-flex;
}

.is-light-theme-enabled a,
.is-light-theme-enabled button {
  color: var(--c-dark);
}

@media (hover: hover) {
  a:hover,
  button:hover {
    color: var(--c-accent);
  }
}

a:focus-visible,
button:focus-visible,
html.safari a:focus,
html.safari button:focus {
  outline: var(--focus-outline);
  outline-offset: 4px;
}

a {
  text-decoration: none;
}

a[href^="tel:"],
a[href^="mailto:"],
a[href^="fax:"] {
  white-space: nowrap;
}

a[target="_blank"]:not(.soc1als__link):not(.social-links__link)::after {
  background: url(/images/icons/link.svg) center / contain no-repeat;
  content: "";
  height: 0.4em;
  margin-left: 0.25em;
  width: 0.4em;
}

button {
  appearance: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

button * {
  pointer-events: none;
}

img,
iframe,
video,
object {
  border: 0;
  display: block;
  max-width: 100%;
}

img {
  height: auto;
  user-select: none;
}

ul[class]:not(.ul),
ol[class]:not(.ol) {
  list-style: none;
}

p:not([class]),
ul:not([class]),
ol:not([class]),
img:not([class]),
blockquote:not([class]) {
  --marginY: 24px;
}

li:not([class]),
li ol:not([class]),
li ul:not([class]) {
  --marginY: 12px;
}

p:not([class]):not(:last-child),
ul:not([class]):not(:last-child),
ol:not([class]):not(:last-child),
li:not([class]):not(:last-child),
img:not([class]):not(:last-child),
blockquote:not([class]):not(:last-child) {
  margin-bottom: var(--marginY);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  --marginBottom: 40px;
  --tabletFontSize: 32px;
  --mobileFontSize: 24px;

  display: block;
  font-weight: 300;
  line-height: 1.2;
}

h1:not(:last-child),
.h1:not(:last-child),
h2:not(:last-child),
.h2:not(:last-child),
h3:not(:last-child),
.h3:not(:last-child),
h4:not(:last-child),
.h4:not(:last-child),
h5:not(:last-child),
.h5:not(:last-child),
h6:not(:last-child),
.h6:not(:last-child) {
  margin-bottom: var(--marginBottom);
}

h1,
.h1 {
  --tabletFontSize: 36px;
  --mobileFontSize: 32px;

  font-size: clamp(36px, calc(36px + 16 * ((100vw - 360px) / 1560)), 52px);
}

h2,
.h2 {
  --tabletFontSize: 36px;
  --mobileFontSize: 24px;

  font-size: clamp(28px, calc(28px + 16 * ((100vw - 360px) / 1560)), 44px);
}

h3,
.h3 {
  --marginBottom: 20px;
  --tabletFontSize: 28px;
  --mobileFontSize: 24px;

  font-size: clamp(24px, calc(24px + 8 * ((100vw - 360px) / 1560)), 32px);
}

h4,
.h4 {
  --tabletFontSize: 24px;
  --mobileFontSize: 22px;

  font-size: clamp(22px, calc(22px + 6 * ((100vw - 360px) / 1560)), 28px);
}

h5,
.h5 {
  font-size: 20px;
}

h6,
.h6 {
  font-size: 18px;
}

@media (max-width: 1280px) {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    --marginBottom: 30px;

    font-size: var(--tabletFontSize);
  }
}

@media (max-width: 767px) {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    --marginBottom: 20px;

    font-size: var(--mobileFontSize);
  }
}

.flow-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: inherit;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.content {
  flex-grow: 1;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--gridWidth) + var(--gridPadding) * 2);
  padding-left: var(--gridPadding);
  padding-right: var(--gridPadding);
  width: 100%;
}

.section {
  padding-bottom: var(--section-padding-y);
  padding-top: var(--section-padding-y);
}

.section__header:not(:last-child) {
  margin-bottom: calc(var(--section-padding-y) * 0.8);
}

.grid {
  --columns: 1;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
}

@media (max-width: 767px) {
  .grid {
    gap: 15px;
  }
}

@for $i from 2 through 12 {
  .grid--#{$i} {
    --columns: #{$i};
  }
}

@media (max-width: 1024px) {
  .grid--2,
  .grid--3,
  .grid--4 {
    --columns: 2;
  }
}

@media (max-width: 767px) {
  .grid--2,
  .grid--3,
  .grid--4 {
    --columns: 1;
  }
}

.grid__item--wide {
  grid-column: -1 / 1;
}

.flow {
  --gapX: 32px;
  --gapY: 16px;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gapX) * -1);
  margin-top: calc(var(--gapY) * -1);
}

.flow > * {
  margin-left: var(--gapX);
  margin-top: var(--gapY);
}

.card {
  border-radius: var(--border-radius-2);
  padding: 40px;
}

@media (max-width: 767px) {
  .card {
    border-radius: var(--border-radius);
    padding: 30px;
  }
}

@media (max-width: 640px) {
  .card {
    padding: 20px;
  }
}

.card--hoverable {
  --shadowBefore: var(--box-shadow-3), var(--box-shadow-inset-transparent);
  --shadowAfter: var(--box-shadow-3-transparent), var(--box-shadow-inset);

  box-shadow: var(--shadowBefore);

  .dom-is-ready & {
    transition: var(--base-transition-duration);
  }
}

.is-light-theme-enabled .card--hoverable {
  --shadowBefore: var(--box-shadow-4), var(--box-shadow-inset-2-transparent);
  --shadowAfter: var(--box-shadow-4-transparent), var(--box-shadow-inset-2);
}

@media (hover: hover) {
  .card--hoverable:hover {
    box-shadow: var(--shadowAfter);
  }
}

.button {
  --height: var(--inputHeight);
  --paddingX: 28px;
  --textColor: var(--c-light);
  --bgColor: transparent;
  --borderColor: transparent;
  --border: 1px solid var(--borderColor);
  --borderRadius: var(--border-radius);
  --boxShadow: var(--box-shadow-3);
  --hoverTextColor: var(--c-light);
  --hoverBgColor: transparent;
  --hoverBorderColor: var(--c-accent);
  --hoverShadow: var(--box-shadow-3);

  align-items: center;
  background-color: var(--bgColor);
  border: var(--border);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
  color: var(--textColor);
  display: inline-flex;
  font-size: 100%;
  height: var(--height);
  justify-content: center;
  overflow: hidden;
  padding-left: var(--paddingX);
  padding-right: var(--paddingX);
  position: relative;
}

.is-light-theme-enabled .button {
  --textColor: var(--c-dark);
  --boxShadow: var(--box-shadow-4);
  --hoverTextColor: var(--c-dark);
  --hoverShadow: var(--box-shadow-4);
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--hoverBgColor);
    border-color: var(--hoverBorderColor);
    box-shadow: var(--hoverShadow);
    color: var(--hoverTextColor);
  }
}

.i-icon {
  --color: var(--c-dark);
  --size: 1em;

  align-items: center;
  display: inline-flex;
  height: var(--size);
  justify-content: center;
  width: var(--size);
}

.i-icon * {
  fill: var(--color);
}

.i-icon.icon-webpack path:first-child {
  fill: transparent;
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 1480px) {
  .visible-desktop-m {
    display: none !important;
  }
}

@media (max-width: 1280px) {
  .visible-desktop {
    display: none !important;
  }
}

@media (min-width: 1281px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (max-width: 920px) {
  .hidden-tablet-xs {
    display: none !important;
  }
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 1px !important;
}

.full-card-link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.full-card-link span {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 1px !important;
}

.accent-color {
  color: var(--c-accent);
}

.is-mobile-menu-open .flow-container,
.is-mobile-menu-open .header,
.is-mobile-menu-open .mobile-menu {
  padding-right: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: 0.01s !important;
  }
}

@keyframes blink {
  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

@keyframes move-to-left {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

@keyframes move-to-right {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}
